@use "./mixins.module.scss" as mixins;
@include mixins.font;

.main {

  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
  line-height: 50px;
  position: absolute;
  width: 50vw;
  height: calc(100vh - 140px);
  left: calc(50vw - 140px);
  padding: 30px;
  font-size: 2.5em;
  display: flex;
  flex-direction: column;
  align-items: center;

  &html {
    scroll-behavior: smooth;

  }

  body::-webkit-scrollbar {
    display: none;
  }

  body::-webkit-scrollbar-thumb {
    display: none;
  }

  body::-webkit-scrollbar-track {
    display: none;
  }

}